<html>
<head>
    <link rel="stylesheet" href="/assets/pure-min.css">
</head>
<body>
<h1>Guesser results.</h1>
<div>
    {{text.content}}
    <ul>
        {{#scores}}
            <li>
                {{authorKey}} -> {{scorePercentage}}%
            </li>
        {{/scores}}
    </ul>
</div>
<ul>
</ul>
</body>
</html>