<html>
    <head>
      <link rel="stylesheet" href="/assets/pure-min.css">
    </head>
    <body>
        <h1>Hello, dude! Here you can add a text.</h1>
        <form action="/texts/add" method="post">
            <textarea name="content"></textarea>
            <input type="submit">
        </form>
    </body>
</html>