<html>
    <head>
      <link rel="stylesheet" href="/assets/pure-min.css">
    </head>
    <body>
        <h1>Hello, dude! Here you can add a writer.</h1>
        <form action="/writers/add" method="post">
            <input type="text" name="fullName">
            <input type="text" name="description">
            <input type="submit">
        </form>
    </body>
</html>